@use "../../helpers" as *;

footer {

  .wpp-float {
    width: 2.5rem;
    height: 2.5rem;
    object-fit: contain;
    position: fixed;
    z-index: 50;
    animation: bounce 1s infinite;
    bottom: 6.25rem;
    right: 1.25rem;
    
    @media screen and (min-width: $breakpoint-lg) {
      right: 2.5rem;
      bottom: 9.375rem;
    }
  }
}