@use "../../helpers" as *;

.header {
  .container{
    position: relative;
  }

  &--logo {
    width: 5rem;
    height: 7.5rem;
    object-fit: contain;
    position: absolute;
    left: 32px;
    z-index: 10;
    top: 0;
    
    @media screen and (min-width: $breakpoint-lg) {
      width: 6.875rem;
      top: 0.625rem;
      left: 5rem;
    }
  }
}
