@use "../../helpers" as *;

.heading-title {
  text-align: center;
  margin-bottom: 2.5rem;
  
  h1,
  h2,
  h3,
  h4 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2.25rem;
    line-height: 2.5rem;
    margin-bottom: 1rem;
    font-family: $firstFont;
  
    @media screen and (min-width: $breakpoint-lg) {
      text-indent: -1px;
      line-height: 3.5rem;
    }
  } 
}